.App {
  max-width: 1024px;
  width: 95%;
  margin: auto;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.question-container {
  z-index: 1;
  display: table;
  position: absolute;
  top: 10vh;
  left: 0;
  height: 85vh;
  width: 100%;
}